fastapi
uvicorn[standard]
websockets
sqlmodel
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pyngrok
qrcode[pil]
git+https://github.com/UniversalRobots/RTDE_Python_Client_Library.git@main
paramiko
